{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }]
  },
  "globals": {
    "object": false,
    "never": false
  },
  "parser": "babel-eslint",
  "plugins": ["typescript"]
}
